{% extends "base.html" %}

{% block title %}LOG IN{% endblock %}

{% block content %}
{% load static %}

<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>
<form method="post" class="aform">
    {% csrf_token %}
    <h3>Login Here</h3>
    <h4>{{wel_mess}} </h4>
    <h1 class="text-danger text-center">{{us_pas_not_mach}}</h1>

    <label for="username">Username</label>
    <input type="text" placeholder="Email or Phone" id="username" name="username">

    <label for="password">Password</label>
    <input type="password" placeholder="Password" id="password" name="password">

    <button>Log In</button>
    <div class="social">
      <div class="go"><i class="bi bi-house"></i>  <a href="{% url 'home'%}">HOME</a></div>
      <div class="fb"><i class="bi bi-r-circle"></i>  <a href="{% url 'signup'%}">Create Account</a></div>
    </div>
</form>

{% endblock  %}