{% extends "base.html" %}

{% block title %}SIGN UP{% endblock %}

{% block content %}
{% load static %}
<div class="black_gb">
  <h1 class='text-center'>{{us_pas_not_mach}}</h1>
<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>
<form method="post" class="form aform">
    {% csrf_token %}
    <h3>Create Account</h3>

    <h4 class="text-ganger">{{pass_not_mach}} {{alert}} {{username_taken}}</h4>
    <label for="firstname" class="label">First Name</label>
    <input type="text" placeholder="First Name" id="firstname" name="firstname" class="signup-in">

    <label for="lastname" class="label">Last Name</label>
    <input type="text" placeholder="Last Name" id="lastname" name="lastname" class="signup-in">

    <label for="username" class="label">Username</label>
    <input type="text" placeholder="username" id="username" name="username" class="signup-in">

    <label for="email" class="label">Email</label>
    <input type="email" placeholder="Email" id="email" name="email" class="signup-in">

    <label for="password" class="label">Password</label>
    <input type="password" placeholder="Password" id="password" name="password" class="signup-in">

    <label for="cpassword" class="label">Confirm Password</label>
    <input type="password" placeholder="Confirm Password" id="cpassword" name="cpassword" class="signup-in">

    <button>SIGN UP</button>
    <div class="social">
      <div class="go"><i class="bi bi-house"></i>  <a href="{% url 'home'%}">HOME</a></div>
      <div class="fb"><i class="bi bi-r-circle"></i>  <a href="{% url 'login'%}">i have a account</a></div>
    </div>
</form>
</div>

{% endblock  %}