{% extends "base.html" %}
{% block title %} {{Product.name}} {% endblock %}

{% block content %}
{% load static %}

<div class="card mb-3 mt-4 justify-content-center m-4" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{Product.image.url}}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{Product.name}}</h5>
          <p class="card-text">{{Product.description}}</p>
          <a href="">{{Product.category}}</a>
          
          {% if Product.is_sale %}
          <h4>$ {{Product.sale_price}}</h4>
          {% else %}
          <h4>$ {{Product.price}}</h4>
          {% endif %}
          <br>
          <a href="{% url 'store' %}" class="btn btn-secondary">Back to Store</a>
          <a href="{% url 'done' %}" class="btn btn-success">Buy</a>
          
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock  %}

